
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.speedmonitoringservice">

    <application
        android:name=".MyApplication"
        android:label="Speed Monitoring"
        android:icon="@mipmap/ic_launcher">

        <service
            android:name=".SpeedMonitoringService"
            android:enabled="true"
            android:exported="false"/>

        <receiver
            android:name=".BootBroadcastReceiver"
            android:enabled="true"
            android:exported="false"
            android:permission="android.permission.RECEIVE_BOOT_COMPLETED">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>

        <!-- Requesting permission to listen for BOOT_COMPLETED -->
        <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    </application>

</manifest>
